@import './navigation.css';

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("https://i.kinja-img.com/gawker-media/image/upload/t_original/eydhq5o0navgbajua3my.png");
  background-size: cover;
  color : white;
}


