@import './navigation.css';
@import './path-widget.css';
@import './rarity-backgrounds.css';

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color : white;
  background-image: linear-gradient(to bottom,rgba(0,0,0,.4),rgba(0,0,0,.8) 405px), url("/images/background/fortnite-battle.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  position: relative;
  width: 100%;
  padding-top: 25px;
}

.panel {
  padding-bottom: 25px;
}

.panel-title {
  background-color: #2a2a2a;
  padding: 9px;
}

.panel-content {
  background-color: rgba(1, 1, 1, .5);
  padding: 15px;
}

.gray-text {
  color: rgba(144, 154, 165, .8);
}

