<% include ../partials/header %>
<% include ../partials/navigation %>

<!-- Path widget at top of page-->
<div class="container">
  <div class="path">
  <a href="/">Home</a> / <a href="/customizations">Customizations</a> / <a id="path-active" href="/customizations/harvesting-tools">Harvesting Tools</a>
  </div>
</div>

<% include ../partials/footer %>