<% include ../partials/header %>
<% include ../partials/navigation %>

<!-- Path widget at top of page-->
<div id="path" class="container">
  <div class="path">
  <a id="path-active" href="/">Home</a>  /
  </div>
</div>

<% include ../partials/footer %>
