<% include ../partials/header %>
<% include ../partials/navigation %>

<!-- Path widget at top of page-->
<div class="container">
  <div class="path">
  <a href="/">Home</a> / <a href="/loot">Loot</a> / <a id="path-active" href="/loot/specials">Specials</a>
  </div>
</div>

<% include ../partials/footer %>



