<% include ../partials/header %>
<% include ../partials/navigation %>

<!-- Path widget at top of page-->
<div class="container">
  <div class="path">
  <a href="/">Home</a> / <a href="/loot">Loot</a> / <a id="path-active" href="/loot/weapons">Weapons</a>
  </div>
</div>

<div class="container">
  <% for (var i = 0; i < weapons.length; i ++) { %>
    <a href="/loot/weapons/<%= weapons[i].fullName %>"><%= weapons[i].fullName %></a>
    </br> 
  <% } %>
</div>


<% include ../partials/footer %>




